<?xml version="1.0" encoding="utf-8"?>
<Media Key="9eaa273d-9c4c-4f0b-a53f-48abe490b992" Alias="Annual_report.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Annual_reportsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:23</CreateDate>
    <NodeName Default="Annual_report.svg" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/z4naq5cx/annual_report.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>