<?xml version="1.0" encoding="utf-8"?>
<Media Key="a57deca6-cb55-4bca-8825-326c06710f06" Alias="annual_report2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/annual_report2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:22</CreateDate>
    <NodeName Default="annual_report2.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/krin4r0o/annual_report2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>