<?xml version="1.0" encoding="utf-8"?>
<Media Key="2efe9692-2722-441e-be6c-a0b7890f6e07" Alias="annual_report3.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/annual_report3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:24</CreateDate>
    <NodeName Default="annual_report3.svg" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mavfztbz/annual_report3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>