<?xml version="1.0" encoding="utf-8"?>
<Media Key="f29d55d7-5701-4f0f-a552-a469c44b2000" Alias="annual_report3.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/annual_report3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T19:40:32</CreateDate>
    <NodeName Default="annual_report3.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/exud4ea0/annual_report3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>