<?xml version="1.0" encoding="utf-8"?>
<Media Key="fac194da-f2af-4bf7-b291-ebdf36e4e255" Alias="audits.svg" Level="2">
  <Info>
    <Parent Key="56f06b33-9f01-4182-8a66-12630c54e08c">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/auditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:22</CreateDate>
    <NodeName Default="audits.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fauhggfu/audits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>