<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a94844a-c900-426b-8042-448edd39351f" Alias="audits.svg" Level="2">
  <Info>
    <Parent Key="4548a7f5-ecfd-4039-8ea5-259e490f9df4">Services</Parent>
    <Path>/Services/auditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T12:08:52</CreateDate>
    <NodeName Default="audits.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xa2dn4a1/audits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>