<?xml version="1.0" encoding="utf-8"?>
<Media Key="f097625d-afd3-4868-9faa-39f2bb4e3e08" Alias="brand2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/brand2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:20</CreateDate>
    <NodeName Default="brand2.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v5pdkewi/brand2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>