<?xml version="1.0" encoding="utf-8"?>
<Media Key="2383247a-7d4a-4387-917d-4b919ffb223f" Alias="brand1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/brand1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:21</CreateDate>
    <NodeName Default="brand1.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rcmddqkr/brand1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>