<?xml version="1.0" encoding="utf-8"?>
<Media Key="85c40f27-0ad3-4053-bd2b-a908b6aaf672" Alias="brand3.svg" Level="2">
  <Info>
    <Parent Key="1c586b71-bac5-4a75-9764-59becbf32d22">Partners</Parent>
    <Path>/Partners/brand3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T12:29:39</CreateDate>
    <NodeName Default="brand3.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0wzgmz4i/brand3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>