<?xml version="1.0" encoding="utf-8"?>
<Media Key="15669629-d937-4163-889b-ace27b234f71" Alias="brand5.svg" Level="2">
  <Info>
    <Parent Key="1c586b71-bac5-4a75-9764-59becbf32d22">Partners</Parent>
    <Path>/Partners/brand5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T12:29:39</CreateDate>
    <NodeName Default="brand5.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1mvnj3zm/brand5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>