<?xml version="1.0" encoding="utf-8"?>
<Media Key="5bc5e4dd-38db-47d0-a57a-c94526b2d833" Alias="brand6.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/brand6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:22</CreateDate>
    <NodeName Default="brand6.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f3mhpooa/brand6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>