<?xml version="1.0" encoding="utf-8"?>
<Media Key="0dff4976-aa77-48d4-a429-88bf2bbc4c02" Alias="brand3.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/brand3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:22</CreateDate>
    <NodeName Default="brand3.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qt0f111m/brand3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>