<?xml version="1.0" encoding="utf-8"?>
<Media Key="301dd685-84db-4971-8339-dd5be4afdc0b" Alias="brand2.svg" Level="2">
  <Info>
    <Parent Key="1c586b71-bac5-4a75-9764-59becbf32d22">Partners</Parent>
    <Path>/Partners/brand2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T12:29:39</CreateDate>
    <NodeName Default="brand2.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/o3vl5uwa/brand2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>