<?xml version="1.0" encoding="utf-8"?>
<Media Key="c120c9e5-2183-4497-adc5-d9c2feccc128" Alias="brand4.svg" Level="2">
  <Info>
    <Parent Key="1c586b71-bac5-4a75-9764-59becbf32d22">Partners</Parent>
    <Path>/Partners/brand4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T12:29:38</CreateDate>
    <NodeName Default="brand4.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/c30iei2y/brand4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>