<?xml version="1.0" encoding="utf-8"?>
<Media Key="f7c83fb1-267f-4ceb-9b14-c53c8df6f96a" Alias="brand1.svg" Level="2">
  <Info>
    <Parent Key="1c586b71-bac5-4a75-9764-59becbf32d22">Partners</Parent>
    <Path>/Partners/brand1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T12:29:39</CreateDate>
    <NodeName Default="brand1.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iobgufle/brand1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>