<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d03fdc2-0785-4d81-8ab5-b66988061047" Alias="brand5.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/brand5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:22</CreateDate>
    <NodeName Default="brand5.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gbakc524/brand5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>