<?xml version="1.0" encoding="utf-8"?>
<Media Key="069c652d-6e4d-4640-a656-6a43ac924d7d" Alias="brand6.svg" Level="2">
  <Info>
    <Parent Key="1c586b71-bac5-4a75-9764-59becbf32d22">Partners</Parent>
    <Path>/Partners/brand6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T12:29:39</CreateDate>
    <NodeName Default="brand6.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/15md3zcw/brand6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>