<?xml version="1.0" encoding="utf-8"?>
<Media Key="704e9be7-d56e-4d18-99b1-654f35ff8b25" Alias="brand4.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/brand4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:21</CreateDate>
    <NodeName Default="brand4.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cutozetv/brand4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>