<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd8a971c-d078-42fb-b042-b1b634daeced" Alias="colleague7.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/colleague7svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:25</CreateDate>
    <NodeName Default="colleague7.svg" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3yvcqp1d/colleague7.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>