<?xml version="1.0" encoding="utf-8"?>
<Media Key="29958d3c-208e-4209-8c41-8be012d5a7b2" Alias="colleague2.svg" Level="2">
  <Info>
    <Parent Key="76188ee9-5a4c-490f-bd52-376c6e4bfea8">Team Members</Parent>
    <Path>/TeamMembers/colleague2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T10:22:12</CreateDate>
    <NodeName Default="colleague2.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zyydps2v/colleague2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>