<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a8fbd0d-3636-4513-b17f-6d4c285d71bb" Alias="colleague7.svg" Level="2">
  <Info>
    <Parent Key="76188ee9-5a4c-490f-bd52-376c6e4bfea8">Team Members</Parent>
    <Path>/TeamMembers/colleague7svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T10:22:11</CreateDate>
    <NodeName Default="colleague7.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/52ac10bn/colleague7.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>