<?xml version="1.0" encoding="utf-8"?>
<Media Key="0370294c-721a-45d9-886a-ceea051a60bf" Alias="colleague2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/colleague2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:24</CreateDate>
    <NodeName Default="colleague2.svg" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x0knfyib/colleague2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>