<?xml version="1.0" encoding="utf-8"?>
<Media Key="270b0a9e-6ce3-485d-88cb-a9243e6e9fff" Alias="colleague6.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/colleague6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:21</CreateDate>
    <NodeName Default="colleague6.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ns1ltrpy/colleague6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>