<?xml version="1.0" encoding="utf-8"?>
<Media Key="869ffb91-0284-465f-95f6-6f3872d4e43f" Alias="colleague5.svg" Level="2">
  <Info>
    <Parent Key="76188ee9-5a4c-490f-bd52-376c6e4bfea8">Team Members</Parent>
    <Path>/TeamMembers/colleague5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T10:22:11</CreateDate>
    <NodeName Default="colleague5.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mndd0ze5/colleague5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>