<?xml version="1.0" encoding="utf-8"?>
<Media Key="774a0cfc-642c-4545-b614-1b819e7f4f49" Alias="colleague5.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/colleague5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:23</CreateDate>
    <NodeName Default="colleague5.svg" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b0yprfjx/colleague5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>