<?xml version="1.0" encoding="utf-8"?>
<Media Key="c8adac29-954b-4bee-8457-db14cd299152" Alias="colleague4.svg" Level="2">
  <Info>
    <Parent Key="76188ee9-5a4c-490f-bd52-376c6e4bfea8">Team Members</Parent>
    <Path>/TeamMembers/colleague4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T10:22:11</CreateDate>
    <NodeName Default="colleague4.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1mib4ksq/colleague4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>