<?xml version="1.0" encoding="utf-8"?>
<Media Key="cde54b6e-de03-417f-8a85-4680321cfbaf" Alias="colleague4.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/colleague4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:22</CreateDate>
    <NodeName Default="colleague4.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tt1eolyy/colleague4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>