<?xml version="1.0" encoding="utf-8"?>
<Media Key="4db257db-f538-478a-b8a0-974d3a9a4fcc" Alias="colleague1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/colleague1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:23</CreateDate>
    <NodeName Default="colleague1.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fhvbblzd/colleague1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>