<?xml version="1.0" encoding="utf-8"?>
<Media Key="2dd2b26f-370c-4e9c-ad85-5c9dbc3766a6" Alias="colleague3.svg" Level="2">
  <Info>
    <Parent Key="76188ee9-5a4c-490f-bd52-376c6e4bfea8">Team Members</Parent>
    <Path>/TeamMembers/colleague3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T10:22:11</CreateDate>
    <NodeName Default="colleague3.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tuhhbtyx/colleague3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>