<?xml version="1.0" encoding="utf-8"?>
<Media Key="77c9503a-59f2-447f-96b5-267a67e6363c" Alias="commodities.svg" Level="2">
  <Info>
    <Parent Key="56f06b33-9f01-4182-8a66-12630c54e08c">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/commoditiessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:24</CreateDate>
    <NodeName Default="commodities.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zdwhxfpj/commodities.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>