<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d5fa7f5-05bc-4c37-8463-c363b4fe78ae" Alias="commodities.svg" Level="2">
  <Info>
    <Parent Key="4548a7f5-ecfd-4039-8ea5-259e490f9df4">Services</Parent>
    <Path>/Services/commoditiessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T12:08:51</CreateDate>
    <NodeName Default="commodities.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/a2np053h/commodities.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>