<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f3e74f6-ce16-4f8f-a17a-79032bb79325" Alias="Component 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Component1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T00:03:29</CreateDate>
    <NodeName Default="Component 1.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/atejz1in/component-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>