<?xml version="1.0" encoding="utf-8"?>
<Media Key="db62164d-ccb6-46f9-90af-d6d2c8237b89" Alias="contact_person.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/contact_personsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T00:03:55</CreateDate>
    <NodeName Default="contact_person.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x4vnaonn/contact_person.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>