<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ed48b80-2610-4f76-830b-c0872dc901a9" Alias="contact_person.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/contact_personsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:23</CreateDate>
    <NodeName Default="contact_person.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oi1hm1al/contact_person.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>