<?xml version="1.0" encoding="utf-8"?>
<Media Key="eb702aac-7d42-4d97-b2e7-e2225791c373" Alias="Dot map.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DotMapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:22</CreateDate>
    <NodeName Default="Dot map.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/l0lneckz/dot-map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>