<?xml version="1.0" encoding="utf-8"?>
<Media Key="a53ad2af-d65a-4cbc-be38-9d9e61a7bfe0" Alias="dot_header-backgrodun.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dot_headerBackgrodunsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:23</CreateDate>
    <NodeName Default="dot_header-backgrodun.svg" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lvxjqr0b/dot_header-backgrodun.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>