<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e0ba99a-c149-4293-8d9e-a6b908406553" Alias="financial_advisor.svg" Level="2">
  <Info>
    <Parent Key="56f06b33-9f01-4182-8a66-12630c54e08c">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/financial_advisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:23</CreateDate>
    <NodeName Default="financial_advisor.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nakkt1cs/financial_advisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>