<?xml version="1.0" encoding="utf-8"?>
<Media Key="61bdac5c-8f7d-4932-8b0a-d5b176481a95" Alias="financial_advisor.svg" Level="2">
  <Info>
    <Parent Key="4548a7f5-ecfd-4039-8ea5-259e490f9df4">Services</Parent>
    <Path>/Services/financial_advisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T12:08:51</CreateDate>
    <NodeName Default="financial_advisor.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vyib5a1g/financial_advisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>