<?xml version="1.0" encoding="utf-8"?>
<Media Key="575bafa6-9223-4d37-84a1-4fb686881101" Alias="founder.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/foundersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:22</CreateDate>
    <NodeName Default="founder.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kqjptnjy/founder.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>