<?xml version="1.0" encoding="utf-8"?>
<Media Key="40cf1b69-09bc-451d-8e82-4ee3fef9f4ae" Alias="founder.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/foundersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T17:15:24</CreateDate>
    <NodeName Default="founder.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/totg1ivh/founder.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>