<?xml version="1.0" encoding="utf-8"?>
<Media Key="ba6f7fcd-56db-401a-b530-73848fd91363" Alias="Header" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Header</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-29T10:48:35</CreateDate>
    <NodeName Default="Header" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>