<?xml version="1.0" encoding="utf-8"?>
<Media Key="92ca14ce-0fb4-433b-a99d-532d3a8f371c" Alias="hero_image.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/hero_imagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:23</CreateDate>
    <NodeName Default="hero_image.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hsuhq2fp/hero_image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>