<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d15e18b-9ca9-4dd1-a60c-7e82c60e39d5" Alias="hero_image.svg" Level="2">
  <Info>
    <Parent Key="49106b3a-8e8c-4562-98d3-df7ee3c335d3">Hero</Parent>
    <Path>/Hero/hero_imagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T09:53:20</CreateDate>
    <NodeName Default="hero_image.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pfolp13s/hero_image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>