<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f3b596c-4846-4eb3-a923-1007cf7cb473" Alias="image-21-min 2.svg" Level="2">
  <Info>
    <Parent Key="62ae2342-92cf-45bc-bdcd-c3cf50eef03e">Service details</Parent>
    <Path>/ServiceDetails/image21Min2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T08:36:59</CreateDate>
    <NodeName Default="image-21-min 2.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/t1sjtdk3/image-21-min-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>