<?xml version="1.0" encoding="utf-8"?>
<Media Key="97d9a14a-37a1-4fa8-b1d7-9f887ef6619b" Alias="image-21-min 2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image21Min2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-10T08:34:59</CreateDate>
    <NodeName Default="image-21-min 2.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xaohw3n0/image-21-min-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>