<?xml version="1.0" encoding="utf-8"?>
<Media Key="4cacf9be-ed33-48ef-a241-e0868acd2085" Alias="img_choose_01_home01 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/img_choose_01_home011svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:24</CreateDate>
    <NodeName Default="img_choose_01_home01 1.svg" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jrca3lri/img_choose_01_home01-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>