<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc798baf-3f4f-469b-b58c-4a94e518d3fe" Alias="kevin-gardner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T22:38:53</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lu1nwlsu/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>