<?xml version="1.0" encoding="utf-8"?>
<Media Key="b9c1da1a-4287-438b-9eab-b14d191ba9df" Alias="kevin-gardner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:23</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3bthgw22/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>