<?xml version="1.0" encoding="utf-8"?>
<Media Key="c098a323-ee15-494c-a334-03c2bed22533" Alias="LogoBrand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LogoBrandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:21</CreateDate>
    <NodeName Default="LogoBrand.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0epduiqo/logobrand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>