<?xml version="1.0" encoding="utf-8"?>
<Media Key="c8c41ce3-05b9-4d6a-8014-a32043bc212d" Alias="logo_Onatrix.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logo_Onatrixsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:21</CreateDate>
    <NodeName Default="logo_Onatrix.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cgqhmkvc/logo_onatrix.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>