<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ed5acb2-37f9-499a-bda8-70b253130a7e" Alias="LogoBrand.svg" Level="2">
  <Info>
    <Parent Key="ba6f7fcd-56db-401a-b530-73848fd91363">Header</Parent>
    <Path>/Header/LogoBrandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T10:48:54</CreateDate>
    <NodeName Default="LogoBrand.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iaihpthc/logobrand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>