<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e6c21ab-56ef-4184-9cf8-5c77b26a8fac" Alias="map 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/map1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:24</CreateDate>
    <NodeName Default="map 1.svg" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lgom3lhu/map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>