<?xml version="1.0" encoding="utf-8"?>
<Media Key="61513a12-c791-47c7-93ce-0e524d2cd594" Alias="map 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/map1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T18:57:10</CreateDate>
    <NodeName Default="map 1.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2cdpha2k/map-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>