<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a3ae710-7f30-44d3-9215-ca7eef44a44f" Alias="meeting_picture.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/meeting_picturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:23</CreateDate>
    <NodeName Default="meeting_picture.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2jnjrgbl/meeting_picture.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>