<?xml version="1.0" encoding="utf-8"?>
<Media Key="5345f9a4-245e-4864-b973-ce5e1567116f" Alias="meeting_picture.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/meeting_picturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T12:58:37</CreateDate>
    <NodeName Default="meeting_picture.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kzcopmkf/meeting_picture.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>