<?xml version="1.0" encoding="utf-8"?>
<Media Key="5fdf272c-420c-4b0a-9eb2-c366982415ad" Alias="pj1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:24</CreateDate>
    <NodeName Default="pj1.svg" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/10nh1pix/pj1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>