<?xml version="1.0" encoding="utf-8"?>
<Media Key="1159d4ad-cc7e-4172-b7f3-af4a4812ff41" Alias="pj2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:23</CreateDate>
    <NodeName Default="pj2.svg" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/l3upx21f/pj2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>