<?xml version="1.0" encoding="utf-8"?>
<Media Key="206eaf2c-858d-4ff3-b5f0-6173dc4ea828" Alias="pj3.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:23</CreateDate>
    <NodeName Default="pj3.svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1yjmzquw/pj3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>