<?xml version="1.0" encoding="utf-8"?>
<Media Key="22f4509f-0ba2-4eda-bd4e-bfe514a30e11" Alias="pj4.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:24</CreateDate>
    <NodeName Default="pj4.svg" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nxwfnqfz/pj4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>