<?xml version="1.0" encoding="utf-8"?>
<Media Key="857e48a6-4ed6-41fb-bace-8d43d7ada5a4" Alias="Rating.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ratingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T22:37:42</CreateDate>
    <NodeName Default="Rating.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kt0nyz4n/rating.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>