<?xml version="1.0" encoding="utf-8"?>
<Media Key="fabb3eb9-4565-413a-bca3-fea018b455eb" Alias="recent_projects_2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/recent_projects_2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:23</CreateDate>
    <NodeName Default="recent_projects_2.svg" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jobbsgd4/recent_projects_2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>