<?xml version="1.0" encoding="utf-8"?>
<Media Key="314c577f-4b43-4cf5-8b92-e77496bd4f3d" Alias="recent_projects_1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/recent_projects_1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:24</CreateDate>
    <NodeName Default="recent_projects_1.svg" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rxvo3u0y/recent_projects_1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>