<?xml version="1.0" encoding="utf-8"?>
<Media Key="0795a990-7299-4726-94f8-b8a9c58548e8" Alias="recent_projects_1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/recent_projects_1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T19:42:17</CreateDate>
    <NodeName Default="recent_projects_1.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mikdpzmc/recent_projects_1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>