<?xml version="1.0" encoding="utf-8"?>
<Media Key="750419c4-bd4d-4f94-ac49-2d92086bc8cd" Alias="recent_projects_3.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/recent_projects_3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:25</CreateDate>
    <NodeName Default="recent_projects_3.svg" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/g0sknf0w/recent_projects_3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>