<?xml version="1.0" encoding="utf-8"?>
<Media Key="5eb3c6c9-fd2d-42b2-b471-1f4470213f6b" Alias="recent_projects_4.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/recent_projects_4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:24</CreateDate>
    <NodeName Default="recent_projects_4.svg" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hn3bdpbw/recent_projects_4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>