<?xml version="1.0" encoding="utf-8"?>
<Media Key="536ac3df-16a1-4275-b990-d8b01dd1f486" Alias="risk_management.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/risk_managementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T12:56:54</CreateDate>
    <NodeName Default="risk_management.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fv5mrmn0/risk_management.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>