<?xml version="1.0" encoding="utf-8"?>
<Media Key="a0956ba0-4b21-4836-a2a0-ac19261bca68" Alias="risk_management.svg" Level="2">
  <Info>
    <Parent Key="4548a7f5-ecfd-4039-8ea5-259e490f9df4">Services</Parent>
    <Path>/Services/risk_managementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T12:08:51</CreateDate>
    <NodeName Default="risk_management.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/klldoqr0/risk_management.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>