<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f2d2704-dae1-42b9-9f98-3f988ea968a6" Alias="servidetail_widget_1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/servidetail_widget_1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-23T12:43:44</CreateDate>
    <NodeName Default="servidetail_widget_1.svg" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/40ni5xp0/servidetail_widget_1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>