<?xml version="1.0" encoding="utf-8"?>
<Media Key="56f06b33-9f01-4182-8a66-12630c54e08c" Alias="Services Thumbnails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesThumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-22T05:31:33</CreateDate>
    <NodeName Default="Services Thumbnails" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties />
</Media>