<?xml version="1.0" encoding="utf-8"?>
<Media Key="62ae2342-92cf-45bc-bdcd-c3cf50eef03e" Alias="Service details" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServiceDetails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-10T08:36:50</CreateDate>
    <NodeName Default="Service details" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties />
</Media>