<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf2c9ed5-964c-47db-8444-58b92f4ea615" Alias="servidetail_widget_1.svg" Level="2">
  <Info>
    <Parent Key="4548a7f5-ecfd-4039-8ea5-259e490f9df4">Services</Parent>
    <Path>/Services/servidetail_widget_1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T12:08:51</CreateDate>
    <NodeName Default="servidetail_widget_1.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/e2rj2lkx/servidetail_widget_1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>