<?xml version="1.0" encoding="utf-8"?>
<Media Key="73e05176-3414-41aa-8c2a-1f5071f16a47" Alias="statistics.svg" Level="2">
  <Info>
    <Parent Key="4548a7f5-ecfd-4039-8ea5-259e490f9df4">Services</Parent>
    <Path>/Services/statisticssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T12:08:51</CreateDate>
    <NodeName Default="statistics.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qtwefeip/statistics.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>