<?xml version="1.0" encoding="utf-8"?>
<Media Key="27f86e5c-1427-4511-b5dc-b552978baccf" Alias="sucess_story.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/sucess_storysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T19:43:27</CreateDate>
    <NodeName Default="sucess_story.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v1jfvrj2/sucess_story.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>