<?xml version="1.0" encoding="utf-8"?>
<Media Key="09535373-0639-491e-a782-9cb4f7ed3b1b" Alias="sucess_story.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/sucess_storysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:23</CreateDate>
    <NodeName Default="sucess_story.svg" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qhxpd0zc/sucess_story.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>