<?xml version="1.0" encoding="utf-8"?>
<Media Key="e196bfc5-b037-40a9-9edc-d7de8f3c2d87" Alias="tax_and_trusts.svg" Level="2">
  <Info>
    <Parent Key="4548a7f5-ecfd-4039-8ea5-259e490f9df4">Services</Parent>
    <Path>/Services/tax_and_trustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T12:08:51</CreateDate>
    <NodeName Default="tax_and_trusts.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/g2bdiazm/tax_and_trusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>