<?xml version="1.0" encoding="utf-8"?>
<Media Key="34a2a1c2-f824-498a-8d12-b253320fe1f2" Alias="tax_and_trusts.svg" Level="2">
  <Info>
    <Parent Key="56f06b33-9f01-4182-8a66-12630c54e08c">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/tax_and_trustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:24</CreateDate>
    <NodeName Default="tax_and_trusts.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gaoabvr5/tax_and_trusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>