<?xml version="1.0" encoding="utf-8"?>
<Media Key="50c8c806-3e23-41a9-88c1-ec27c8b5a714" Alias="team_photo.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/team_photosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-22T05:29:24</CreateDate>
    <NodeName Default="team_photo.svg" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4r0hvmry/team_photo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>