<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9d34725-f644-4e24-856c-c9b63a07dbd6" Alias="team_photo.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/team_photosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-04T12:19:50</CreateDate>
    <NodeName Default="team_photo.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/053hco05/team_photo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>