@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ServiceDetail>
@{
	Layout = "mainLayout.cshtml";
	var root = Umbraco.ContentAtRoot().FirstOrDefault();
	var siteSettings = root?.Children()?.OfType<ContentModels.SiteSettings>()?.FirstOrDefault();


}

<partial name="partials/Layout/_PageHeader" model="(IPageHeader)Model" />


<section class="pt-16">
	<div class="max-w-7xl mx-auto px-4 ">
		<div class="flex flex-col-reverse lg:flex-row lg:justify-between gap-10">
			<aside class="lg:w-3/12 w-full flex flex-col gap-10">
				@Html.GetBlockListHtml(Model.ServiceDetailAsides)
			</aside>

			<div class="hidden lg:block w-px bg-border-gray"></div>

			<div class="lg:w-8/12  w-full flex flex-col gap-2">

				<div class="rte">@Html.Raw(Model.ServiceDetailBody)</div>
			</div>
		</div>

	</div>
	<div class="mt-10 mb-0">
		@if (Model.Sections != null)
		{
			@Html.GetBlockListHtml(Model.Sections)
		}
	</div>
	

</section>