@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ServiceDetail>
@{
	Layout = "MainLayout.cshtml";
}

<partial name="partials/Layout/_PageHeader" model="(IPageHeader)Model" />


<section>
	<div>
		<div>
			Aside 
			Line
			Content
		</div>
	</div>
</section>