<?xml version="1.0" encoding="utf-8"?>
<Content Key="b111f247-c177-4f2f-8a26-c3fc38a9e0b4" Alias="2025-49-08 00:49 - Anton Pla Mosquera" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/AntonPlaMosquera</Path>
    <Trashed Parent="e578f53c-28f9-4827-82c8-a49d26ec2d5d">true</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-08T00:49:44</CreateDate>
    <NodeName Default="2025-49-08 00:49 - Anton Pla Mosquera" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[mosquera.cristina@gmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Anton Pla Mosquera]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0767051321]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>