<?xml version="1.0" encoding="utf-8"?>
<Content Key="eed3bc1f-0c9c-4970-b88a-51e14e080ff7" Alias="2025-40-10 12:40 - Online Support" Level="2">
  <Info>
    <Parent Key="e578f53c-28f9-4827-82c8-a49d26ec2d5d">Form Submissions</Parent>
    <Path>/FormSubmissions/OnlineSupport</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-10T12:40:29</CreateDate>
    <NodeName Default="2025-40-10 12:40 - Online Support" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[blanco@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Online Support]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Online Support Card]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[N/A]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>