<?xml version="1.0" encoding="utf-8"?>
<Content Key="92933c31-4d86-4e0a-878d-23dc1a4d3ebe" Alias="2025-37-14 09:37 - Cristina Mosquera Blanco" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/CristinaMosqueraBlanco</Path>
    <Trashed Parent="e578f53c-28f9-4827-82c8-a49d26ec2d5d">true</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-14T09:37:17</CreateDate>
    <NodeName Default="2025-37-14 09:37 - Cristina Mosquera Blanco" />
    <SortOrder>17</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[mosquera.cristina@gmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Cristina Mosquera Blanco]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0767051321]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>