<?xml version="1.0" encoding="utf-8"?>
<Content Key="99dc7963-3492-44c9-b81a-11f83af71b87" Alias="2025-19-14 07:19 - Cristina Mosquera Blanco" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/CristinaMosqueraBlanco</Path>
    <Trashed Parent="e578f53c-28f9-4827-82c8-a49d26ec2d5d">true</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-14T07:19:19</CreateDate>
    <NodeName Default="2025-19-14 07:19 - Cristina Mosquera Blanco" />
    <SortOrder>23</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[mosquera.cristina@gmail.com]]></Value>
    </questionRequestEmail>
    <questionRequestName>
      <Value><![CDATA[Cristina Mosquera Blanco]]></Value>
    </questionRequestName>
    <questionRequestQuestion>
      <Value><![CDATA[Hejsan!]]></Value>
    </questionRequestQuestion>
  </Properties>
</Content>