<?xml version="1.0" encoding="utf-8"?>
<Content Key="4759c828-6498-4709-ba5b-faaa75275a71" Alias="2025-27-10 11:27 - Jag Själv" Level="2">
  <Info>
    <Parent Key="e578f53c-28f9-4827-82c8-a49d26ec2d5d">Form Submissions</Parent>
    <Path>/FormSubmissions/JagSjaelv</Path>
    <Trashed>false</Trashed>
    <ContentType>questionRequest</ContentType>
    <CreateDate>2025-11-10T11:27:16</CreateDate>
    <NodeName Default="2025-27-10 11:27 - Jag Själv" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionRequestEmail>
      <Value><![CDATA[jag.sjalv@domain.com]]></Value>
    </questionRequestEmail>
    <questionRequestName>
      <Value><![CDATA[Jag Själv]]></Value>
    </questionRequestName>
    <questionRequestQuestion>
      <Value><![CDATA[sdfghyjio]]></Value>
    </questionRequestQuestion>
  </Properties>
</Content>