<?xml version="1.0" encoding="utf-8"?>
<Content Key="9530c090-321e-4430-910c-862b169f95c1" Alias="2025-12-10 11:12 - Jag Själv" Level="2">
  <Info>
    <Parent Key="e578f53c-28f9-4827-82c8-a49d26ec2d5d">Form Submissions</Parent>
    <Path>/FormSubmissions/JagSjaelv</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-10T11:12:31</CreateDate>
    <NodeName Default="2025-12-10 11:12 - Jag Själv" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[jag.sjalv@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Jag Själv]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0721234567]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>