<?xml version="1.0" encoding="utf-8"?>
<Content Key="2825f0bd-5031-4489-9e68-7fdb0932a90b" Alias="2025-31-10 07:31 - Cristina Mosquera Blanco" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/CristinaMosqueraBlanco</Path>
    <Trashed Parent="e578f53c-28f9-4827-82c8-a49d26ec2d5d">true</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-10T07:31:32</CreateDate>
    <NodeName Default="2025-31-10 07:31 - Cristina Mosquera Blanco" />
    <SortOrder>12</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[mosquera.cristina@gmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Cristina Mosquera Blanco]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0767051321]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>