<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca57a91c-621a-43ef-b318-378a52c9f6d4" Alias="2025-&lt;11-01 07:11 - Jag Själv" Level="2">
  <Info>
    <Parent Key="e578f53c-28f9-4827-82c8-a49d26ec2d5d">Form Submissions</Parent>
    <Path>/FormSubmissions/JagSjaelv</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-01T07:11:47</CreateDate>
    <NodeName Default="2025-&lt;11-01 07:11 - Jag Själv" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[jag.sjalv@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Jag Själv]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0721234567]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>