<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff10a19e-0c43-4cfb-bf4c-dd477ef16c81" Alias="2025-05-14 10:05 - Cristina Mosquera Blanco" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/CristinaMosqueraBlanco</Path>
    <Trashed Parent="e578f53c-28f9-4827-82c8-a49d26ec2d5d">true</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-14T10:05:38</CreateDate>
    <NodeName Default="2025-05-14 10:05 - Cristina Mosquera Blanco" />
    <SortOrder>18</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[mosquera.cristina@gmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Cristina Mosquera Blanco]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0767051321]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>