<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d989b59-bb65-4b07-83a2-443c9d96f864" Alias="2025-26-14 10:26 - Cristina Mosquera Blanco" Level="2">
  <Info>
    <Parent Key="e578f53c-28f9-4827-82c8-a49d26ec2d5d">Form Submissions</Parent>
    <Path>/FormSubmissions/CristinaMosqueraBlanco</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-14T10:26:45</CreateDate>
    <NodeName Default="2025-26-14 10:26 - Cristina Mosquera Blanco" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[mosquera.cristina@gmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Cristina Mosquera Blanco]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0767051321]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>