<?xml version="1.0" encoding="utf-8"?>
<Content Key="41bc660a-9900-4483-8d3a-85d8f07f510a" Alias="2025-23-01 07:23 - Jag Själv" Level="2">
  <Info>
    <Parent Key="e578f53c-28f9-4827-82c8-a49d26ec2d5d">Form Submissions</Parent>
    <Path>/FormSubmissions/JagSjaelv</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-01T07:23:54</CreateDate>
    <NodeName Default="2025-23-01 07:23 - Jag Själv" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[jag.sjalv@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Jag Själv]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0721234567]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>