<?xml version="1.0" encoding="utf-8"?>
<Content Key="62550c8f-b462-4395-b98d-ef391a656c6a" Alias="About" Level="2">
  <Info>
    <Parent Key="e72fd42f-91b8-4a58-878a-052436c72138">Onatrix</Parent>
    <Path>/Onatrix/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-10-22T11:15:53</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="35d2dc7d-44a7-45e5-a62e-e821674f89ad">AboutPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[About us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e644bb86-242f-4357-a5ec-5f674ed7dd8d",
      "key": "32164afe-46df-46c0-917f-b7c0967d6d53",
      "udi": null,
      "values": [
        {
          "alias": "teamSectionLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Expert"
        },
        {
          "alias": "teamSectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EA team of professionals\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Ewith years of experience\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "teamMemberList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "d34ff181-c819-4a15-a67d-dbb20f51440a",
                "key": "5f7aea98-c8cc-41b4-9b49-78c28e992c08",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Newton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "c0a4d8c9-d1c4-43c7-add5-77f150c1880d",
                        "mediaKey": "4db257db-f538-478a-b8a0-974d3a9a4fcc",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "d34ff181-c819-4a15-a67d-dbb20f51440a",
                "key": "f61cf8c3-15b7-442d-a86b-40de0e20f8fc",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "AJ Carter"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "1ece1609-cd75-4f3f-9401-99da4916cdcb",
                        "mediaKey": "0370294c-721a-45d9-886a-ceea051a60bf",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "d34ff181-c819-4a15-a67d-dbb20f51440a",
                "key": "e3c75649-a65b-4169-97d8-e54ddcc5f65e",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aaron Lambert"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Business Specialist at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "e0e12295-d91d-48e5-acc7-85a8e0902141",
                        "mediaKey": "6b8777a6-6d7b-47f2-b699-dc3166312b5f",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "d34ff181-c819-4a15-a67d-dbb20f51440a",
                "key": "5906a5c6-d657-4984-9351-f0601b37c249",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tina Fox"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CEO \u0026 Founder at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "2f9f833b-ce47-4655-bad7-43dddd868021",
                        "mediaKey": "cde54b6e-de03-417f-8a85-4680321cfbaf",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "d34ff181-c819-4a15-a67d-dbb20f51440a",
                "key": "2bed2669-2294-41ef-aecf-7895f557b581",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Kerr"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": " CFO \u0026 Co-Founderat Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "8fe4bfff-383e-47ea-8d3b-cbf5e1eb8f9c",
                        "mediaKey": "774a0cfc-642c-4545-b614-1b819e7f4f49",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "d34ff181-c819-4a15-a67d-dbb20f51440a",
                "key": "54873d03-39b4-4abd-8409-4274bdba9dfd",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Miranda Dayton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Head of HR at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f3c69416-d9be-4bad-8db3-530e2cb92d9e",
                        "mediaKey": "270b0a9e-6ce3-485d-88cb-a9243e6e9fff",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "d34ff181-c819-4a15-a67d-dbb20f51440a",
                "key": "d07ffb7f-15ed-4f15-b9ed-279675e29e73",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Kevin Gardner"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Banking Advisor at Swedbank"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "3073522a-3634-4e88-9f30-9f3ba934877f",
                        "mediaKey": "dd8a971c-d078-42fb-b042-b1b634daeced",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "5f7aea98-c8cc-41b4-9b49-78c28e992c08",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "f61cf8c3-15b7-442d-a86b-40de0e20f8fc",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "e3c75649-a65b-4169-97d8-e54ddcc5f65e",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "5906a5c6-d657-4984-9351-f0601b37c249",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "2bed2669-2294-41ef-aecf-7895f557b581",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "54873d03-39b4-4abd-8409-4274bdba9dfd",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "d07ffb7f-15ed-4f15-b9ed-279675e29e73",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "5f7aea98-c8cc-41b4-9b49-78c28e992c08",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "f61cf8c3-15b7-442d-a86b-40de0e20f8fc",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "e3c75649-a65b-4169-97d8-e54ddcc5f65e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "5906a5c6-d657-4984-9351-f0601b37c249",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "2bed2669-2294-41ef-aecf-7895f557b581",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "54873d03-39b4-4abd-8409-4274bdba9dfd",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "d07ffb7f-15ed-4f15-b9ed-279675e29e73",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "32164afe-46df-46c0-917f-b7c0967d6d53",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "32164afe-46df-46c0-917f-b7c0967d6d53",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>