<?xml version="1.0" encoding="utf-8"?>
<Content Key="4b47107d-4a0b-41f1-beb7-b3149df69074" Alias="Assurance &amp; Audits" Level="3">
  <Info>
    <Parent Key="c9f70025-2cd2-45c2-8dc7-ae203a315f34">Services</Parent>
    <Path>/Onatrix/Services/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-23T06:06:30</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a66cf016-4165-440a-b418-201ed123727a">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "9ead21b5-b40d-48db-8d9e-4e9f9852cb5b",
    "mediaKey": "fac194da-f2af-4bf7-b291-ebdf36e4e255",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>