<?xml version="1.0" encoding="utf-8"?>
<Content Key="b22b14ca-01ef-43ba-a757-6621e8851235" Alias="Assurance &amp; Audits" Level="3">
  <Info>
    <Parent Key="26c0f28f-c847-4ced-8c31-6170b4f18325">Services</Parent>
    <Path>/Onatrix/Services/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-29T12:10:48</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4ba813c0-8b1d-4ee9-9643-3bfe5f87c8db">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "7aaeb5c3-6ba8-46b8-94a4-40a5904f406c",
      "key": "f98dd1c7-1dbf-40ce-8145-e49f210b9e34",
      "udi": null,
      "values": [
        {
          "alias": "infoTiitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "72c8e0d7-ed6c-4a1e-b6e5-4987c185364b",
              "mediaKey": "cf2c9ed5-964c-47db-8444-58b92f4ea615",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "f98dd1c7-1dbf-40ce-8145-e49f210b9e34",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f98dd1c7-1dbf-40ce-8145-e49f210b9e34",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "396b3f43-18cd-4839-a415-e1efb2cd3f6e",
    "mediaKey": "1a94844a-c900-426b-8042-448edd39351f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>