<?xml version="1.0" encoding="utf-8"?>
<Content Key="e0751ed7-b441-4d00-b317-4d1255c6f61a" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="c9f70025-2cd2-45c2-8dc7-ae203a315f34">Services</Parent>
    <Path>/Onatrix/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-23T06:06:03</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a66cf016-4165-440a-b418-201ed123727a">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "b1daf25d-88d3-49f0-b95c-84f5ffed07ad",
    "mediaKey": "77c9503a-59f2-447f-96b5-267a67e6363c",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>