<?xml version="1.0" encoding="utf-8"?>
<Content Key="13ebe19f-def9-42d3-a5bb-431e02674b3f" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="26c0f28f-c847-4ced-8c31-6170b4f18325">Services</Parent>
    <Path>/Onatrix/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-29T12:10:24</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4ba813c0-8b1d-4ee9-9643-3bfe5f87c8db">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "7aaeb5c3-6ba8-46b8-94a4-40a5904f406c",
      "key": "74d58bf1-984f-40d0-b682-ba9e9799171e",
      "udi": null,
      "values": [
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "36e9a1cf-b69e-469c-a858-f48d164c94b1",
              "mediaKey": "cf2c9ed5-964c-47db-8444-58b92f4ea615",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoTiitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "74d58bf1-984f-40d0-b682-ba9e9799171e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "74d58bf1-984f-40d0-b682-ba9e9799171e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "2010658b-f9a2-4889-89d3-45e5d08537eb",
    "mediaKey": "9d5fa7f5-05bc-4c37-8463-c363b4fe78ae",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>