<?xml version="1.0" encoding="utf-8"?>
<Content Key="45d88385-1c6f-411a-84aa-228e05118aa0" Alias="Business Consulting" Level="3">
  <Info>
    <Parent Key="26c0f28f-c847-4ced-8c31-6170b4f18325">Services</Parent>
    <Path>/Onatrix/Services/BusinessConsulting</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-03T19:42:32</CreateDate>
    <NodeName Default="Business Consulting" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4ba813c0-8b1d-4ee9-9643-3bfe5f87c8db">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EBusiness Consulting\u003C/p\u003E"
}]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "72d48c81-3ca4-403b-bee9-b441e9573a0c",
    "mediaKey": "0795a990-7299-4726-94f8-b8a9c58548e8",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>