<?xml version="1.0" encoding="utf-8"?>
<Content Key="4125934e-b7d1-415b-8f83-9a025c606a53" Alias="Contact" Level="2">
  <Info>
    <Parent Key="e72fd42f-91b8-4a58-878a-052436c72138">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-22T09:08:01</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e15b9071-8486-4dad-90fd-a3c0b44fd23e">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>