<?xml version="1.0" encoding="utf-8"?>
<Content Key="07ee756d-8cd2-494a-9cca-3e601f0811b2" Alias="Contact" Level="2">
  <Info>
    <Parent Key="f8e89dbe-19e7-4a4d-8307-48123920e628">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-29T08:58:08</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e2e524a3-d257-47cb-bda6-45183cb76d7a">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Contact Us"
}]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c8dec065-4f6f-420b-bfd4-8aa167f7101b",
      "key": "7db65b91-04e6-47a0-85e1-e9af4fc65765",
      "udi": null,
      "values": [
        {
          "alias": "contactSectionBackgroundImageDot",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "93dba525-efce-4fd8-b5a2-d2b8e44d032b",
              "mediaKey": "0f3e74f6-ce16-4f8f-a17a-79032bb79325",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactSectionContactPersonImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b04ea04e-a29d-45c8-996a-67be7a455859",
              "mediaKey": "db62164d-ccb6-46f9-90af-d6d2c8237b89",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactSectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003ELet us know about your next project\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "ce3118d9-2e3c-4911-84cf-704844e67d0c",
      "key": "8c409da8-2dc6-4642-85c8-abd0cf5d8866",
      "udi": null,
      "values": [
        {
          "alias": "contactCallbackSectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022 style=\u0022text-align: center\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003ELet us know about your next project\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactCallbackSectionDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-xs font-regular\u0022 style=\u0022text-align: center\u0022\u003E\u003Cem\u003E\u003Cspan class=\u0022text-body-text\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus\u003C/span\u003E\u003C/em\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "contactCallbackSectionLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-xs font-bold\u0022 style=\u0022text-align: center\u0022\u003E\u003Cspan class=\u0022text-secondary\u0022\u003EREQUEST A CALL BACK\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "0e0af2f4-d5ed-4793-aaef-b859e886bda9",
      "key": "2040c6dd-7ae5-4925-afc1-bc9974758f2c",
      "udi": null,
      "values": [
        {
          "alias": "freedombird",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "366e0b6c-f719-4854-85f0-c2654ab0774f",
              "mediaKey": "f7c83fb1-267f-4ceb-9b14-c53c8df6f96a",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "identity",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "2c4cfa44-149a-49e5-bf75-48743c42aec6",
              "mediaKey": "301dd685-84db-4971-8339-dd5be4afdc0b",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "natural",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c01e9ab2-0a4b-493a-9f32-996af2390fad",
              "mediaKey": "85c40f27-0ad3-4053-bd2b-a908b6aaf672",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "simpleleaf",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "5120497d-a6fe-4f6b-b795-6da4579e661e",
              "mediaKey": "c120c9e5-2183-4497-adc5-d9c2feccc128",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "globe",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7196097c-dc36-4dc5-910a-58d225f104a8",
              "mediaKey": "15669629-d937-4163-889b-ace27b234f71",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "fossilGroup",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "32723d5a-bc7d-4d40-87ac-dcbee7d03956",
              "mediaKey": "069c652d-6e4d-4640-a656-6a43ac924d7d",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1558ef8c-4b4a-49db-8a2b-62144953ef5c",
      "key": "a330f07d-1735-4087-b6ab-58fc462badc6",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "3e2facb4-9958-4a87-bd50-2f5e4ad7af8d",
      "key": "bb48630f-b9ae-4ab6-b053-cc3ffd3accf5",
      "udi": null,
      "values": [
        {
          "alias": "callbackRequestOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Financial consulting\nBusiness\nTax Planning"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "7db65b91-04e6-47a0-85e1-e9af4fc65765",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8c409da8-2dc6-4642-85c8-abd0cf5d8866",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2040c6dd-7ae5-4925-afc1-bc9974758f2c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "7db65b91-04e6-47a0-85e1-e9af4fc65765",
        "contentUdi": null,
        "settingsKey": "a330f07d-1735-4087-b6ab-58fc462badc6",
        "settingsUdi": null
      },
      {
        "contentKey": "8c409da8-2dc6-4642-85c8-abd0cf5d8866",
        "contentUdi": null,
        "settingsKey": "bb48630f-b9ae-4ab6-b053-cc3ffd3accf5",
        "settingsUdi": null
      },
      {
        "contentKey": "2040c6dd-7ae5-4925-afc1-bc9974758f2c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>