<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea1789be-4d6d-4d0f-a969-2a574cfd767f" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="c9f70025-2cd2-45c2-8dc7-ae203a315f34">Services</Parent>
    <Path>/Onatrix/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-23T06:07:20</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a66cf016-4165-440a-b418-201ed123727a">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "8377913a-c6a6-46ed-8514-99574dd18c56",
    "mediaKey": "0e0ba99a-c149-4293-8d9e-a6b908406553",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>