<?xml version="1.0" encoding="utf-8"?>
<Content Key="cdd35bd9-5c9b-4470-b4a2-e8946822c739" Alias="Investment Analysis" Level="3">
  <Info>
    <Parent Key="26c0f28f-c847-4ced-8c31-6170b4f18325">Services</Parent>
    <Path>/Onatrix/Services/InvestmentAnalysis</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-03T19:40:48</CreateDate>
    <NodeName Default="Investment Analysis" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4ba813c0-8b1d-4ee9-9643-3bfe5f87c8db">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EInvestment Analysis\u003C/p\u003E"
}]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "c8dec065-4f6f-420b-bfd4-8aa167f7101b",
      "key": "5fafb26a-ddbd-4a4e-8763-4b3f663e25d8",
      "udi": null,
      "values": [
        {
          "alias": "contactSectionBackgroundImageDot",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "93dba525-efce-4fd8-b5a2-d2b8e44d032b",
              "mediaKey": "0f3e74f6-ce16-4f8f-a17a-79032bb79325",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactSectionContactPersonImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b04ea04e-a29d-45c8-996a-67be7a455859",
              "mediaKey": "db62164d-ccb6-46f9-90af-d6d2c8237b89",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactSectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003ELet us know about your next project\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1558ef8c-4b4a-49db-8a2b-62144953ef5c",
      "key": "8ad435f1-0e68-4b79-8a4d-382c66ffec7e",
      "udi": null,
      "values": [
        {
          "alias": "contactBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "5fafb26a-ddbd-4a4e-8763-4b3f663e25d8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5fafb26a-ddbd-4a4e-8763-4b3f663e25d8",
        "contentUdi": null,
        "settingsKey": "8ad435f1-0e68-4b79-8a4d-382c66ffec7e",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "7aaeb5c3-6ba8-46b8-94a4-40a5904f406c",
      "key": "2d97b407-785b-41b2-b9b3-824781405e7f",
      "udi": null,
      "values": [
        {
          "alias": "infoTiitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "About us"
          }
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "cc0cfe02-bba9-4cd3-aecf-8512cb66120d",
              "mediaKey": "cf2c9ed5-964c-47db-8444-58b92f4ea615",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "2d97b407-785b-41b2-b9b3-824781405e7f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "2d97b407-785b-41b2-b9b3-824781405e7f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "52a148a9-2525-48ea-b1f1-27d7a5baf0d3",
    "mediaKey": "f29d55d7-5701-4f0f-a552-a469c44b2000",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>