<?xml version="1.0" encoding="utf-8"?>
<Content Key="26c0f28f-c847-4ced-8c31-6170b4f18325" Alias="Services" Level="2">
  <Info>
    <Parent Key="f8e89dbe-19e7-4a4d-8307-48123920e628">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-29T08:58:35</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c3a34940-c575-4998-9072-3972209ba009">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "5e07a607-c6bf-466f-820b-c8095e04439b",
      "key": "00ec81cd-9154-4ac1-a9e0-3e97373377de",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cstrong\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/strong\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ad3aa35d-ce6b-4b9f-8d79-061f80a65355",
      "key": "a8f93902-87a4-4f0e-9b9d-5baa66f11587",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColour",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "00ec81cd-9154-4ac1-a9e0-3e97373377de",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "00ec81cd-9154-4ac1-a9e0-3e97373377de",
        "contentUdi": null,
        "settingsKey": "a8f93902-87a4-4f0e-9b9d-5baa66f11587",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>