<?xml version="1.0" encoding="utf-8"?>
<Content Key="c9f70025-2cd2-45c2-8dc7-ae203a315f34" Alias="Services" Level="2">
  <Info>
    <Parent Key="e72fd42f-91b8-4a58-878a-052436c72138">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-22T10:31:42</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d8997181-d3c9-4a18-b5e1-f3bcbb6c7452">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1f63efd8-10d1-4d56-9faf-22f4ef243078",
      "key": "6f380e82-0c8f-4402-9919-773e76b17c03",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e74d7dc1-4653-4bec-8810-3398e778da36",
      "key": "82f6f59e-54cf-45fe-9c67-38ca75f00091",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColour",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "6f380e82-0c8f-4402-9919-773e76b17c03",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "6f380e82-0c8f-4402-9919-773e76b17c03",
        "contentUdi": null,
        "settingsKey": "82f6f59e-54cf-45fe-9c67-38ca75f00091",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>