<?xml version="1.0" encoding="utf-8"?>
<Content Key="a4c3df67-20f4-474f-ac2f-545b6401d0cb" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-29T10:50:40</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Klarabergsviadukten 90, 111 52 Stockholm"
}]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "sales@onatrix.com"
}]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u002B46 8 123 456 75"
}]]></Value>
    </contactPhone>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "186dcb21-6aae-4a18-891d-aafa70830d8c",
      "key": "f1d840b2-05d1-4043-80c8-19c85a403dbe",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "https://www.facebook.com"
          }
        }
      ]
    },
    {
      "contentTypeKey": "186dcb21-6aae-4a18-891d-aafa70830d8c",
      "key": "727dc3d2-f859-4d74-bdb4-774fee9bb383",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Linkedin"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "https://www.linkedin.com"
          }
        }
      ]
    },
    {
      "contentTypeKey": "186dcb21-6aae-4a18-891d-aafa70830d8c",
      "key": "51121c54-8eb5-40c7-968a-027e19f9c917",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "https://www.x.com"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "f1d840b2-05d1-4043-80c8-19c85a403dbe",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "727dc3d2-f859-4d74-bdb4-774fee9bb383",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "51121c54-8eb5-40c7-968a-027e19f9c917",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f1d840b2-05d1-4043-80c8-19c85a403dbe",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "727dc3d2-f859-4d74-bdb4-774fee9bb383",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "51121c54-8eb5-40c7-968a-027e19f9c917",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "a90d0ce5-4c3f-4a48-ba6f-0e2d66ea03b1",
    "mediaKey": "2ed5acb2-37f9-499a-bda8-70b253130a7e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "Onatrix"
}]]></Value>
    </siteName>
  </Properties>
</Content>