<?xml version="1.0" encoding="utf-8"?>
<Content Key="45cdb1b5-4c59-4636-a008-02b093d83023" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="c9f70025-2cd2-45c2-8dc7-ae203a315f34">Services</Parent>
    <Path>/Onatrix/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-23T06:02:06</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a66cf016-4165-440a-b418-201ed123727a">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "baa74c98-c367-4c94-a6d4-0e57681c2bd0",
    "mediaKey": "7cfa4d74-28df-4759-a3cd-f296a7eddc2b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>