<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ce69183-b22a-41ba-96e1-660d3cad0030" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="26c0f28f-c847-4ced-8c31-6170b4f18325">Services</Parent>
    <Path>/Onatrix/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-29T12:11:11</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4ba813c0-8b1d-4ee9-9643-3bfe5f87c8db">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "7aaeb5c3-6ba8-46b8-94a4-40a5904f406c",
      "key": "0f4af687-285f-4516-9e89-1ab422b0db32",
      "udi": null,
      "values": [
        {
          "alias": "infoTiitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "infoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "4665fa7a-7fef-4bcd-a271-d2cd133bb989",
              "mediaKey": "cf2c9ed5-964c-47db-8444-58b92f4ea615",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "infoText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "0f4af687-285f-4516-9e89-1ab422b0db32",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "0f4af687-285f-4516-9e89-1ab422b0db32",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "9e9dc7c4-2d48-40f5-abc8-e2df6de6b19a",
    "mediaKey": "e196bfc5-b037-40a9-9edc-d7de8f3c2d87",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>