<?xml version="1.0" encoding="utf-8"?>
<Content Key="8e9eb957-8534-4cfb-b56f-cdc933e50bac" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="c9f70025-2cd2-45c2-8dc7-ae203a315f34">Services</Parent>
    <Path>/Onatrix/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-23T06:06:54</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a66cf016-4165-440a-b418-201ed123727a">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "fffff9ca-8a50-40a5-858a-927b0869ae24",
    "mediaKey": "34a2a1c2-f824-498a-8d12-b253320fe1f2",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>