@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<footer class="bg-dark text-body-text py-2">
    <div class="max-w-7xl mx-auto px-3 text-left text-sm">
        © Onatrix. All Rights Reserved. Credits to <a class="text-secondary">Themesflat</a>
    </div>
  </footer>