@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<footer class="bg-dark text-body-text py-3">
    <div class="max-w-6xl mx-auto px-3 text-xs">
        © Onatrix. All Rights Reserved. Credits to <a class="text-secondary">Themesflat</a>
    </div>
  </footer>