

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.PublishedCache
@using Umbraco.Cms.Core.Routing
@using Umbraco.Cms.Core.Services.Navigation

@inject IVariationContextAccessor VariationContextAccessor
@inject IPublishedContentCache PublishedContentCache
@inject IDocumentNavigationQueryService DocumentNavigationQueryService
@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider

@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@


@{
    var rootContent = Umbraco.ContentAtRoot();
    var siteSettings = rootContent.OfType<SiteSettings>().FirstOrDefault();
    var logo = siteSettings?.SiteLogo;

    var selection = Model.Root().Children().Where(x => x.IsVisible(PublishedValueFallback)).ToArray();

}




<header class="relative shadow-sm z-[9999]">
    <nav class="max-w-7xl mx-auto flex items-center justify-between p-4">
        <!-- Logo -->
        <div class="flex items-center justify-between w-full md:w-auto">
            @if (logo != null)
            {
                <a href="/" class="flex-shrink-0">
                    <img src="@logo.Url()" alt="Onatrix" class="h-8 w-auto" />
                </a>
            }
            else
            {
                <a href="/" class="flex-shrink-0">
                    Onatrix
                </a>
            }
            <!-- Mobile Menu button -->
            <button id="menu-toggle"
                    class="text-primary text-2xl md:hidden focus:outline-none"
                    aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i> 
            </button>
        </div>
       
        <!-- Navigation Links -->
        @if (selection?.Length > 0)
        {
            <ul id="nav-links" class="hidden flex-col absolute top-full left-0 w-full bg-neutral border-t border-gray-200 md:border-none md:static md:flex md:flex-row md:items-center md:gap-20 md:w-auto">
                @foreach (var item in selection)
                {
                    <li class="@(item.IsAncestorOrSelf(Model) ? "current" : null) p-4 md:p-0 border-b md:border-0">
                        <a class="block highlight-none font-bold text-primary hover:text-secondary transition-colors" href="@item.Url(PublishedUrlProvider)">@item.Name</a>
                    </li>
                }
            </ul>
        }
        <div class="hidden md:flex items-center">
            <i class="fa-solid fa-magnifying-glass text-lg text-primary"></i>
        </div>
    </nav>
</header>

<script>
    const menuToggle = document.getElementById("menu-toggle");
    const navLinks = document.getElementById("nav-links");

    if (menuToggle && navLinks) {
        menuToggle.addEventListener("click", () => {
            navLinks.classList.toggle("hidden");
        });
    }
</script>