<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bf282028-e5ae-4868-9f5d-4122822cf8d3" Alias="About - Sections" Level="1">
  <Info>
    <Name>About - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "7b1a1667-075f-4b2a-bc1c-f5d0c6c3dc3d"
    },
    {
      "contentElementTypeKey": "8d471a77-8037-4665-9c2c-8461ff06a000"
    }
  ]
}]]></Config>
</DataType>