<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e752667f-db16-41fd-89cc-3f8d96b83da5" Alias="About Callback Settings - CallbackRequestOptions " Level="1">
  <Info>
    <Name>About Callback Settings - CallbackRequestOptions </Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 1
}]]></Config>
</DataType>