<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a3067433-eeb3-4555-b7c1-f9b4607dc5b6" Alias="Onatrix - Sections " Level="1">
  <Info>
    <Name>Onatrix - Sections </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "74115a76-f003-4719-885b-f57367bef436"
    },
    {
      "contentElementTypeKey": "5e07a607-c6bf-466f-820b-c8095e04439b",
      "settingsElementTypeKey": "ad3aa35d-ce6b-4b9f-8d79-061f80a65355"
    },
    {
      "contentElementTypeKey": "7b1a1667-075f-4b2a-bc1c-f5d0c6c3dc3d"
    },
    {
      "contentElementTypeKey": "89e580a2-bf7d-48bc-84dc-d7e6f69d4a42",
      "settingsElementTypeKey": "3e2facb4-9958-4a87-bd50-2f5e4ad7af8d"
    },
    {
      "contentElementTypeKey": "f8abd1b1-87c2-4b0d-877c-3cd8efffaaac"
    },
    {
      "contentElementTypeKey": "eddee8e6-c56a-4e47-9f82-7daa9c119397"
    },
    {
      "contentElementTypeKey": "0e0af2f4-d5ed-4793-aaef-b859e886bda9"
    },
    {
      "contentElementTypeKey": "8d471a77-8037-4665-9c2c-8461ff06a000"
    },
    {
      "contentElementTypeKey": "f9446dda-55cc-437c-890c-a824a75779b2"
    },
    {
      "contentElementTypeKey": "c8dec065-4f6f-420b-bfd4-8aa167f7101b",
      "settingsElementTypeKey": "1558ef8c-4b4a-49db-8a2b-62144953ef5c"
    }
  ]
}]]></Config>
</DataType>