<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c397b585-b805-4375-86f8-e49474df8649" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "894a1b50-1573-498a-a464-aaf1a967bed1"
    },
    {
      "contentElementTypeKey": "1f63efd8-10d1-4d56-9faf-22f4ef243078",
      "settingsElementTypeKey": "e74d7dc1-4653-4bec-8810-3398e778da36"
    },
    {
      "contentElementTypeKey": "e644bb86-242f-4357-a5ec-5f674ed7dd8d"
    }
  ]
}]]></Config>
</DataType>