<?xml version="1.0" encoding="utf-8"?>
<DataType Key="912c1620-76a4-4676-9eff-8b079499be46" Alias="Service Detail Asides -  List " Level="1">
  <Info>
    <Name>Service Detail Asides -  List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "7aaeb5c3-6ba8-46b8-94a4-40a5904f406c"
    }
  ]
}]]></Config>
</DataType>