<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5c87505f-8106-40ba-bb9a-26ade1ba7d2d" Alias="Service Detail Asides " Level="1">
  <Info>
    <Name>Service Detail Asides </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e4b9420e-a259-478f-bb79-a01dcb3f6932"
    }
  ]
}]]></Config>
</DataType>