<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a45c86c5-3056-4c5f-8852-24d3bd30b6d7" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "84fd8e84-0d27-449d-b454-4f2adabc6e03",
      "label": "{umbValue:platformName}"
    }
  ]
}]]></Config>
</DataType>