<?xml version="1.0" encoding="utf-8"?>
<DataType Key="76bbd5ff-836a-44c3-acce-7a106478e6b2" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "186dcb21-6aae-4a18-891d-aafa70830d8c",
      "label": "{umbValue:platformName}"
    }
  ]
}]]></Config>
</DataType>