<?xml version="1.0" encoding="utf-8"?>
<DataType Key="038795b3-b0cd-4025-b290-f91f7a3792be" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "44b37128-b134-4970-b997-79178ecfac62",
      "label": "{umbValue:teamMemberName}"
    }
  ]
}]]></Config>
</DataType>