<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9dd805d5-5339-4d78-8a36-b1ec667a51d9" Alias="Team Member List " Level="1">
  <Info>
    <Name>Team Member List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d34ff181-c819-4a15-a67d-dbb20f51440a",
      "label": "{umbValue:teamMemberName}"
    }
  ]
}]]></Config>
</DataType>