@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Extensions
@{
    var content = (ContentModels.PartnersSection)Model.Content;
    var partnerList = content.PartnerItemList;
}

<section class="bg-neutral">
    @if (partnerList != null && partnerList.Any())
    {

        <!-- DESKTOP VIEW -->
        <div class="hidden md:flex max-w-7xl mx-auto px-4 gap-[4rem] mt-[2rem] md:mt-[10rem] mb-5 md:mb-10 flex-col items-center md:flex-row justify-center">
            @foreach (var blockListItem in partnerList)
            {
                var partnerContent = blockListItem.Content; 

                <div class="flex-shrink-0">
                    <partial name="Partials/BlockList/Components/Partner" model="partnerContent" />
                </div>
            }
        </div>

        <!--MOBILE SLIDER VIEW-->
        <div class="block md:hidden mt-[2rem] mb-5">
            <div class="swiper partnerSwiper w-full">
                <div class="swiper-wrapper items-center">
                    @foreach (var blockListItem in partnerList)
                    {
                        var partnerContent = blockListItem.Content;

                        <div class="swiper-slide">
                            <partial name="Partials/BlockList/Components/Partner" model="partnerContent" />
                        </div>
                    }
                </div>
              
            </div>
        </div>
    }
</section>
