

@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.PartnerItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var content = Model;
}

<div class="flex flex-col items-center cursor-pointer">
    @if (content.PartnerImage != null)
    {
        <img src="@content.PartnerImage.Url()" alt="@content.PartnerItemName" class="object-contain mx-auto" />
    }
</div>