@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.TeamMember)Model.Content;
}

<div class="flex flex-col h-full border-2 border-white-100">
    @if (content.TeamMemberImage != null)
    {
        <img src="@content.TeamMemberImage.Url()" class="w-full object-cover" />

    }
    <div class="p-4">
        <h6>@content.TeamMemberName</h6>
        <p class="text-sm text-gray-600">@content.TeamMemberRole</p>
    </div>
</div>