@import "tailwindcss";


@theme {
    /* COLOUR */
    --color-neutral: #FFFFFF;
    --color-white: #F2EDDC;
    --color-white-100: #F7F7F7;
    --color-dark: #0E0E0E;
    --color-primary: #4F5955;
    --color-main-light: #606966;
    --color-accent: #F2EDDC;
    --color-secondary: #D9C3A9;
    --color-gray-400: #4B5264;
    --color-body-text: #535656;
    --color-body-text-100: #999999;
    --color-notel: #9C9EA6;
    --color-border-gray: #EAEAEA;
    --color-border-400: #C7C8C9;
    /* Button  */
    --color-btn-primary-background-hover: #9EA6A3;
    --color-btn-primary-text-hover: #F2EDDC;
    --color-btn-secondary-color: #4F5955;
    --color-btn-secondary-background-color: #F2EDDC;
    /*TYPOGRAPHY */
    --font-family-poppins: 'Poppins', sans-serif;
  
    /* Background */
    --color-main-background-color: #F5F3F3;
    --color-secondary-background-color: #EBEBEB;
    --color-dark-header-background-color: #4F5955;
    --color-black-background-color: #0E0E0E;
}



html {
    @apply h-full font-family-poppins;
}

body {
    @apply min-h-screen;
}

/* ------------------------------------
    Typography
------------------------------------ */
h1 {
    @apply leading-none text-primary;
    font-size: 4.5rem;
    font-weight: 700;
    
}

h2 {
    @apply leading-none text-primary;
    font-size: 3rem;
    font-weight: 700;
}

h3 {
    @apply leading-none text-primary;
    font-size: 2.5rem;
    font-weight: 700;
}

h4 {
    @apply leading-none text-primary;
    font-size: 2rem;
    font-weight: 700;
}

h5 {
    @apply leading-none text-primary;
    font-size: 1.5rem;
    font-weight: 700;
}

h6 {
    @apply leading-none text-primary;
    font-size: 1.125rem;
    font-weight: 700;
}

/* Rich text editor content */
.rte h3 {
    @apply mb-4 leading-snug text-primary;
}
.rte p {
    @apply mb-3;
}
.rte-ul {
    @apply list-disc pl-5 mt-3;
}
.rte-ul li{
    @apply text-rte-xs text-body-text mb-3;
}

.rte-ul li::marker {
    @apply text-secondary;
}
.rte img {
    @apply w-full h-auto object-cover;
}
a {
    @apply no-underline;
}

/* ------------------------------------
   Buttons
------------------------------------ */
.btn {
    @apply inline-block rounded cursor-pointer no-underline;
    padding-block: 0.8rem;
    padding-inline: 1.5rem;
}

.primary-btn {
    @apply bg-primary text-white;
}

    .primary-btn:hover {
        @apply bg-btn-primary-background-hover text-btn-primary-text-hover;
    }

/* ------------------------------------
   Labels
------------------------------------ */
.label {
    @apply uppercase pb-4 text-secondary;
    font-size: 14px;
    font-weight: 600;
}

.current a{
    @apply text-secondary;
}