@import "tailwindcss";
/*@import "./swiper.css";
*/

@theme {
    /* COLOUR */
    --color-neutral: #FFFFFF;
    --color-white: #F2EDDC;
    --color-white-100: #F7F7F7;
    --color-dark: #0E0E0E;
    --color-primary: #4F5955;
    --color-main-light: #606966;
    --color-accent: #F2EDDC;
    --color-secondary: #D9C3A9;
    --color-gray-400: #4B5264;
    --color-body-text: #535656;
    --color-body-text-100: #999999;
    --color-notel: #9C9EA6;
    --color-border-gray: #EAEAEA;
    --color-border-400: #C7C8C9;
    /* FONT SIZES for RTE */
    --text-rte-xl: 4.375rem;
    --text-rte-lg: 2.5rem;
    --text-rte-md: 1.25rem;
    --text-rte-sm: 1rem;
    --text-rte-xs: 0.875rem;
    /*TYPOGRAPHY */
    --font-family-poppins: 'Poppins', sans-serif;
    /* Background */
    --color-main-background-color: #F5F3F3;
    --color-secondary-background-color: #EBEBEB;
    --color-dark-header-background-color: #4F5955;
    --color-black-background-color: #0E0E0E;
}



html {
    @apply h-full font-family-poppins;
}

body {
    @apply min-h-screen;
}

/* Rich text editor content */

.rte p {
    @apply mb-5;
}
.rte-ul {
    @apply list-disc pl-5 mt-3;
}
.rte-ul li{
    @apply text-rte-xs text-body-text mb-3;
}

.rte-ul li::marker {
    @apply text-secondary;
}

a {
    @apply no-underline;
}

/* ------------------------------------
   Buttons
------------------------------------ */
.btn {
    @apply inline-block rounded cursor-pointer  font-bold no-underline;
    padding-block: 0.8rem;
    padding-inline: 1.5rem;
}

.primary-btn {
    @apply bg-primary text-white;
}

    .primary-btn:hover {
        @apply bg-white text-primary;
    }

.secondary-btn {
    @apply bg-white text-primary;
}

    .secondary-btn:hover {
        @apply bg-primary text-white;
    }

/* ------------------------------------
   Labels
------------------------------------ */
.label {
    @apply uppercase pb-4 text-secondary;
    font-size: 14px;
    font-weight: 600;
}

.current a {
    @apply text-secondary;
}

/* ------------------------------------
   FORMS
------------------------------------ */

.input-validation-error {
    @apply border-red-500 focus:ring-1 focus:ring-red-500;
}

.field-validation-error {
    @apply mt-1 block text-sm text-red-600;
}



/* ------------------------------------
   SWIPER
------------------------------------ */
.custom-pagination {
    display: none;
}

@media (min-width: 768px) {
    .custom-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        margin-top: 1.5rem;
    }
}

.custom-prev,
.custom-next {
    font-size: 1.125rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: var(--color-gray-400);
    cursor: pointer;
}

.swiper-button-disabled {
    color: var(--color-border-400);
    cursor: default;
}

.swiper-pagination {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 0.5rem !important;
    position: static !important;
    width: auto !important;
    margin-top: 0.5rem !important;
  
   
}


.swiper-pagination-bullet {
    font-size: 1.125rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent !important;
    width: 2rem !important;
    height: 2rem !important;
    color: var(--color-body-text-100);
    border-radius: 9999px;
    cursor: pointer;
    transition: all 0.2s ease;
    margin: 0 !important;
    opacity: 1 !important;
    text-align: center;

}

    .swiper-pagination-bullet:hover {
        border: 1px solid var(--color-border-400);
        color: var(--color-gray-400);
        opacity: 1 !important;
    }

.swiper-pagination-bullet-active {
    background: transparent !important;
    border: 1px solid var(--color-border-400);
    color: var(--color-gray-400) !important;
}



