


.custom-pagination {
    @apply hidden;
}

@media (min-width: 768px) {
    .custom-pagination {
      
        @apply flex justify-center items-center gap-6 py-2 mt-6;
    }
}

.custom-prev,
.custom-next {
  
    @apply text-lg font-semibold flex items-center text-gray-400 cursor-pointer;
}

.swiper-button-disabled {
    
    @apply text-border-400 cursor-default;
}

.swiper-pagination {
   
    @apply flex justify-center items-center gap-2 static w-auto mt-2;
}


.swiper-pagination-bullet {
    
    @apply text-lg font-semibold flex justify-center items-center w-8 h-8 text-body-text-100 rounded-full cursor-pointer transition !bg-transparent !m-0 !opacity-100;
}

    .swiper-pagination-bullet:hover {
     
        @apply border border-border-400 text-gray-400 !opacity-100;
    }

.swiper-pagination-bullet-active {
    
    @apply bg-neutral border border-border-400 !text-gray-400;
}

