<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3274a797-c48e-4a2a-912e-c51fcbeef92d" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fa4f8042-2def-4a8d-81cc-dd361b2007b5">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a2349659-213a-4669-aa17-77307afd67b0" SortOrder="0">contactPage</ContentType>
    <ContentType Key="54f573dd-1873-4193-a4a1-abfb4ed05aaf" SortOrder="1">servicePage</ContentType>
    <ContentType Key="5c66808a-75b5-40ba-b1b8-e05f19cd829a" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>08afe839-13ac-43d0-bcd9-3f40a42ac3b4</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>a3067433-eeb3-4555-b7c1-f9b4607dc5b6</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5a0306c3-3091-4bd5-824a-83edba116359</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>